* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #d3c0af;
  height: 100vh;
}

input,
label,
button
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

}

/* All of our custom controls should be what we expect them to be */
input
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}


.flex {
  display: flex;
}

.col-1 {
  background-image: url(./images/image.png);
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  width: 45vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-phrase {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 710px;
  height: 369px;
  padding: 48px;
  flex-grow: 0;
}

.tagline {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  color: #d3c0af;
  width: 364px;
}

.desciption {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #d3c0af;
  overflow: hidden;
}

.col-2 {
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: 100vh;
  padding: 0;
  gap: 50px;
  color: #1f2c32;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 25px;

}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 29px;
}

.main-form {
  background: #c6b3a2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 48px 120px;
  align-items: flex-start;
gap: 31px;
}

.sign-up-text {
  font-weight: 400;
  font-size: 45px;
}

.logo {
  font-family: "Ivy Mode";
  font-weight: 600;
  font-size: 50px;
  padding-left: 650px;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 0px;
gap: 25px;

}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form-labels {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  gap: 10px;
}

.form-labels label {
  font-weight: 400;
font-size: 20px;
letter-spacing: 0.1em;

color: #1F2C32;
}

.form-row input {
  background: #d3c0af;
  border: 1px solid rgba(31, 44, 50, 0.3);
  border-radius: 5px;
  width: 344px;
  height: 45px;
  font-weight: 400;
font-size: 23px;
padding: 1px 6px;
}
.form-row input:focus {
  outline:0;
  border: 1px solid #1D728E;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}



.form-container {
  align-self: center;
  height: 533px;
  
}

.signup-btn {
  width: 266px;
  height: 58px;
  background: #4f6563;
  border-radius: 10px;
  padding: 10px 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #fcdcdc;
  margin-bottom: 27px;
  cursor: pointer;
}

.container-btn {
  padding: 0 120px;
}

@media only screen and (max-width: 1700px) and (min-width: 10px) {
  .logo {
    display: none;
  }
  .col-2, .main-form {
    align-items: center;
    justify-content: center;
  }
  .form-row {
    padding: 0;
    display: block;
  }
  .form-labels {
    text-align: center;
  }
  .form-row input {
    text-align: center;
  }
}

@media only screen and (max-width: 1001px) and (min-width: 100px) {
  body {
    display: flex;
    flex-direction: column;

  }
  .col-1, .col-2 {
    width: 100%;
    background-image: none;
    margin-top: -10em;
    position: relative;
  }
  .main-phrase {
    display: none;
  }
  .desciption {
    display: none;
  }
  .tagline {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}